.views-flip-style img {
  height: 200px;
  width: 200px;
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.views-flip-style .container {
  display: block;
  height: 440px;
  margin: 30px auto;
  width: 660px;
}
.views-flip-style .scene3D {
  display: block;
  float: left;
  margin: 10px;
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*perspective*/
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
}
.views-flip-style .flip div {
  height: 200px;
  position: absolute;
  width: 200px;
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*backface-visibility*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.views-flip-style .flip div:first-child {
  background: #333;
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*transform*/
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.views-flip-style .flip div:first-child h2 {
  color: #fff;
  padding-top: 50px;
  text-align: center;
  text-shadow: 0 0 1px .111;
}
.views-flip-style .flip {
  height: 200px;
  width: 200px;
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*box-shadow*/
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  /*transform*/
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  /*transition*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  /*transform-style*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.views-flip-style .scene3D:hover .flip {
  /*transform*/
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
